<div class="col-md-4">
    <div class="card mb-4 box-shadow " style="height:600px!important">
        <div style="height:230px!important">
            <a class="{CarsID}" href="{CarsFullHref}">
                <img class="card-img-top" src="{image_src}"
                     alt="http://coolgeorgia.com Экскурсия по Тбилиси" title="Экскурсия по Тбилиси">

            </a>
        </div>
        <div class="card-body ">

            <div class="text-center">
                <p class="card-text pb-1 m-0 "><b class="sizefont2">{short_title}</b></p>
            </div>
            <br>
            <div class="row">
                <div class="col-3 text-center">
                    <img src="/images/svg/fuel.svg" alt="Twitter" style="width: 30px; height: 30px;">
                </div>
                <div class="col-3 text-center">
                    <img src="/images/svg/kpp.svg" alt="Twitter" style="width: 30px; height: 30px;">
                </div>
                <div class="col-3 text-center">
                    <img src="/images/svg/passengers.svg" alt="Twitter"
                         style="width: 30px; height: 30px;">
                </div>
                <div class="col-3 text-center">
                    <img src="/images/svg/engine_volume.svg" alt="Twitter"
                         style="width: 30px; height: 30px;">
                </div>
            </div>

            <div class="row carstextsettingsstyles">
                {CardDescryption}
                <div class="col-3 text-center">{CountPersons}</div>
                <div class="col-3 text-center">{EngineVolume}</div>
            </div>
            <br>
            <div class="row " style="font-size:0.8em;font-weight: bold;">
                <div class="col-3 text-center">
                    1-2 <br>сут<br>
                    <hr>
                </div>
                <div class="col-3 text-center">
                    3-7 <br>сут<br>
                    <hr>
                </div>
                <div class="col-3 text-center">
                    8-30 <br>сут<br>
                    <hr>
                </div>
                <div class="col-3 text-center">
                    31-60 <br>сут<br>
                    <hr>
                </div>
            </div>
            <div class="row" style="font-size:0.8em;font-weight: bold;">
                <div class="col-3 text-center sizefont">
                    {1day}$<br>
                </div>
                <div class="col-3 text-center sizefont">
                    {3days}$<br>
                </div>
                <div class="col-3 text-center sizefont">
                    {8days}$<br>
                </div>
                <div class="col-3 text-center sizefont">
                    {31days}$<br>
                </div>
                <br>
                <br>
                <br>
                <a type="button" href="{CarsFullHref}" class=" btn btn-primary w-100 m-2">
                    {card_button_buy}
                </a>
<!--                <a href="">-->
<!--                    -->
<!--                </a>-->
            </div>
        </div>
    </div>
</div>
