<hr>
<div class="row">
    <div class="col-sm-3">
        <div class="review-block-name"><a href="#">{name_user}</a></div>
        <div class="review-block-date">{reviews_date}</div>
        <div class="review-block-date">{country_city}</div>
    </div>
    <div class="col-sm-9">
        <div class="review-block-rate">
            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
        </div>
        <div class="review-block-title">{TitleText}</div>
        <div class="review-block-description">{Text}</div>
    </div>
</div>