@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
    color: #5a5a5a;
}


.sidebar p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.sidebar-a, .sidebar-a:hover, .sidebar-a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



/*
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
*/
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    /*border-bottom: 1px dashed #ddd;*/
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #163135;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    /*background: #162628;*/
}

#sidebar ul.components {
    /*padding: 20px 0;*/
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #FFE293;
    padding: 10px;
    margin-bottom: 0px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #071F22;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #162628;
}


a[data-toggle="collapse"] {
    position: relative;
}


/*
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
*/

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #071F22;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #071F22;
}

a.article, a.article:hover {
    background: #071F22 !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 56px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
.responsive-table a{
    cursor: pointer!important;
}

.responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
}
@media (min-width: 48em) {
    .responsive-table {
        font-size: .9em;
    }
}
@media (min-width: 62em) {
    .responsive-table {
        font-size: 1em;
    }
}
.responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
@media (min-width: 48em) {
    .responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
}
.responsive-table thead th {
    background-color: #618cc3;
    border: 1px solid #618cc3;
    font-weight: normal;
    /*text-align: center;*/
    color: white;
}
.responsive-table thead th:first-of-type {
    /*text-align: left;*/
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
    display: block;
    padding: 0;
    /*text-align: left;*/
    white-space: normal;
}
.responsive-table-img{
    max-width: 100%;
}

.responsive-table tr{
    border-bottom: #0F6188 solid 1px;
}

@media (min-width: 48em) {
    .responsive-table tr {
        display: table-row;
    }
    .responsive-table-img{
        max-width: 100px;
    }


}
.responsive-table th,
.responsive-table td {
    /*padding: .5em;*/
    vertical-align: middle;
}
@media (min-width: 30em) {
    .responsive-table th,
    .responsive-table td {
        padding: .75em .5em;
    }
}
@media (min-width: 48em) {
    .responsive-table th,
    .responsive-table td {
        display: table-cell;
        padding: .5em;
    }
}
@media (min-width: 62em) {
    .responsive-table th,
    .responsive-table td {
        padding: .75em .5em;
    }
}
@media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
        padding: .75em;
    }
}
.responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    /*text-align: center;*/
}
@media (min-width: 48em) {
    .responsive-table caption {
        font-size: 1.5em;
    }
}
.responsive-table tfoot {
    font-size: .8em;
    font-style: italic;
}
@media (min-width: 62em) {
    .responsive-table tfoot {
        font-size: .9em;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody {
        display: table-row-group;
    }
}
.responsive-table tbody tr {
    margin-bottom: 1em;
}
@media (min-width: 48em) {
    .responsive-table tbody tr {
        display: table-row;
        border-width: 1px;
    }
}
.responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 48em) {
    .responsive-table tbody tr:nth-of-type(even) {
        background-color: rgba(94, 93, 82, 0.1);
    }
}
.responsive-table tbody th[scope="row"] {
    background-color: #618cc3;
    color: white;
}
@media (min-width: 30em) {
    .responsive-table tbody th[scope="row"] {
        border-left: 1px solid #618cc3;
        border-bottom: 1px solid #618cc3;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody th[scope="row"] {
        background-color: transparent;
        color: #5e5d52;
        /*text-align: left;*/
    }
}
/*
.responsive-table tbody td {
    text-align: right;
}
*/
@media (min-width: 48em) {
    .responsive-table tbody td {
        border-left: 1px solid #618cc3;
        border-bottom: 1px solid #618cc3;
        /*text-align: center;*/
    }
}
@media (min-width: 48em) {
    .responsive-table tbody td:last-of-type {
        border-right: 1px solid #618cc3;
    }
}
.responsive-table tbody td[data-type=currency] {
    /*text-align: right;*/
}
.responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: rgba(94, 93, 82, 0.75);
}
@media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
        font-size: .9em;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
        content: none;
    }
}

.SlideCaption{
    text-shadow: 0px 4px 4px rgba(0,0,0,0.6), 0px 8px 13px rgba(0,0,0,0.6), 0px 18px 23px rgba(0,0,0,0.6);
}