#regForm * {
    box-sizing: border-box;
}


#regForm h1 {
    text-align: center;
}

/*
#regForm input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
*/
#regForm input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
#regForm .tab {
    display: none;
}

/*
#regForm button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

#regForm button:hover {
    opacity: 0.8;
}


#regForm #prevBtn {
    background-color: #bbbbbb;
}

*/

/* Make circles that indicate the steps of the form: */
#regForm .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#regForm .step.active {
    opacity: 1;
}

/*

#regForm .step.finish {
    background-color: #4CAF50;
}
*/